<div class="container">
  <div class="col-md-12 row">
    <br>
    <div class="container">
      <div class="btn-group">
        <input type="button" class="btn btn-success" value="Registrar nuevo empleado" id="btn-new-employee">
        <%= link_to "Descargar como CSV", employees_list_all_path(format: "csv"), class: "btn btn-info" %>
        <%= link_to "Descargar como Plantilla de Excel", employees_list_all_path(format: "xls"), class: "btn btn-info" %>
      </div>
    </div>
    <br>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Nómina de empleados</div>

      <table class="table">
        <thead>
        <tr>
          <th>Cédula de identidad</th>
          <th>Nombre</th>
          <th>Dirección actual</th>
          <th>Cargo</th>
          <th>Departamento Asignado</th>
        </tr>
        </thead>
        <tbody>
        <% @employee.each do |actual_index| %>
            <tr>
              <td id="actual-identity-<%= actual_index.id %>"><%= actual_index.employee_identity %></td>
              <td id="actual-name-<%= actual_index.id %>"><%= actual_index.employee_name %></td>
              <td id="actual-direction-<%= actual_index.id %>"><%= actual_index.employee_direction %></td>
              <td>
                <div id="actual-office-<%= actual_index.id %>" class="hide"><%= actual_index.office_id %></div>
                <% office = Office.find_by(id: actual_index.office_id) %>
                <% if !office.nil? %>
                    <%= office.office_description %>
                <% else %>
                    Sin asignar
                <% end %>
              </td>
              <td>
                <div id="actual-department-<%= actual_index.id %>" class="hide"><%= actual_index.department_id %></div>
                <% department = Department.find_by(id: actual_index.department_id) %>
                <% if !department.nil? %>
                    <%= department.department_name %>
                <% else %>
                    Sin asignar
                <% end %>
              </td>
              <td>
                <div class="btn-group">
                  <a href="#" onclick="editEmployee('<%= actual_index.id %>')">
                    <i class="fa fa-edit fa-2x"></i>
                  </a>
                  <a href="#" onclick="deleteEmployee('<%= actual_index.id %>')">
                    <i class="fa fa-close fa-2x"></i>
                  </a>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="employee-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro de nuevo empleado</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Nombre</span>
            <input id="employee-name" class="form-control" type="text">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Cédula de identidad</span>
            <input id="employee-identity" class="form-control" type="area">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Dirección de vivienda</span>
            <input id="employee-direction" class="form-control" type="text">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Cargo</span>
            <select id="employee-office" class="form-control">
              <option value="null" selected>Sin cambios</option>
              <% Office.all.each do |office_index| %>
                <option value="<%= office_index.id %>"><%= office_index.office_description %></option>
              <% end %>
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Departamento</span>
            <select id="employee-department" class="form-control">
              <option value="null" selected>Sin cambios</option>
              <% Department.all.each do |deparment_index| %>
                  <option value="<%= deparment_index.id %>"><%= deparment_index.department_name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="save-employee" type="button" class="btn btn-primary">Guardar cambios</button>
        <button id="modify-employee" type="button" class="btn btn-primary">Modificar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->