<div class="container">
  <div class="container-fluid">
    <div class="panel panel-default">
      <!-- Default panel contents -->

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:success] %>
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:success] %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="panel-heading">
        <label>Grupos permisos de <%= @grupo.descripcion_grupo %></label>
        <a href="/users" class="pull-right btn-sm btn-warning ">Volver a usuarios</a>
      </div>
      <div class="panel-body">
        <% permiso_object = JSON.parse @grupo.data if !@grupo.data.nil?%>

        <table class="table">
          <thead>
          <tr>
            <td>Vista</td>
            <td>Crear</td>
            <td>Modificar</td>
            <td>Eliminar</td>
          </tr>
          </thead>
          <tbody>
          <% permiso_object.each do |index| %>
              <tr class="focus">
                <td><%= index[0] %></td>
                <%= form_for :permiso, url:'/groups/permissions/modify', class:'form-inline' do |f| %>
                    <td class="hide"><%= f.text_field :grupo, value: @grupo.id, method:{}, options:{disabled: true} %></td>
                    <td class="hide"><%= f.text_field :vista, value: index[0], method:{}, options:{disabled: true} %></td>
                    <td><%= f.check_box :crear, checked: index[1]['c'] %></td>
                    <td><%= f.check_box :modificar, checked: index[1]['c'] %></td>
                    <td><%= f.check_box :eliminar, checked: index[1]['c'] %></td>
                    <td><%= f.submit 'Cambiar permisos', class: 'btn-sm btn-info' %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>