<div class="container">
  <div class="col-md-12 row">
    <div class="container form-color">

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <h3 class="panel-heading">Modificar datos de <%= @cliente.nombre + " " + @cliente.ap_paterno + " " + @cliente.ap_materno %></h3>

      <%= form_for @cliente, url: '/clients/modify' do |f| %>
          <div class="form-group">
            <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
            <%= f.file_field :image, onchange:"readURL(this)" %>
          </div>
          <div class="hide">
            <%= f.text_field :id %>
          </div>
          <div class="input-group group-size-100">
            <%= f.text_field :nombre, :class => "form-control input-control", placeholder: "Nombre", data:{toggle:"tooltip", placement:"top", title:"Nombre"} ,:onkeypress=>"return onlyText(event)" %>
            <%= f.text_field :ap_paterno, :class => "form-control input-control", placeholder: "Apellido paterno", data:{toggle:"tooltip", placement:"top", title:"Apellido paterno"}, :onkeypress=>"return onlyText(event)" %>
            <%= f.text_field :ap_materno, :class => "form-control input-control", placeholder: "Apellido materno", data:{toggle:"tooltip", placement:"top", title:"Apellido materno"}, :onkeypress=>"return onlyText(event)" %>
            <%= f.text_field :identificacion, :class => "form-control input-control", placeholder: "Identificaci?n", data:{toggle:"tooltip", placement:"top", title:"Cedula de identidad"}, :onkeypress=>"return onlyNumbers(event)"%>
          </div>
          <br>
          <div class='input-group group-size-80 date' id='datetimepicker'>
            <%= f.text_field :fecha_nacimiento, :class => "form-control", placeholder: "Fecha de nacimiento", data:{toggle:"tooltip", placement:"top", title:"Fecha de nacimiento"} %>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
          </div>
          <br>
          <div class="input-group group-size-100">
            <%= f.text_field :correo, :class => "form-control input-control", placeholder: "Correo electr?nico", data:{toggle:"tooltip", placement:"top", title:"Correo electronico "}, :onblur=>"return validateEmail(this.value)" %>
            <%= f.text_field :telefono, :class => "form-control input-control", placeholder: "Tel?fono", data:{toggle:"tooltip", placement:"top", title:"Telefono"} %>
            <%= f.text_field :direccion, :class => "form-control input-control", placeholder: "Direcci?n", data:{toggle:"tooltip", placement:"top", title:"Direccion"} %>
            <%= f.select :genero_id, options_for_select([["Hombre", "3"], ["Mujer", "4"]]), {}, {class: 'form-control input-control'} %>
          </div>

          <div class="btn-group pull-right">
            <%= f.submit 'Guardar', :class => 'btn btn-success' %>
            <%= link_to 'Cancelar', "/clients/info/#{@cliente.id}", class: 'btn btn-info' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
