<div class="container">
  <div class="col-md-12 row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Activos fijos</div>

      <table class="table">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Acción</th>
          <th>Sección</th>
          <th>Fecha de uso</th>
        </tr>
        </thead>
        <tbody>
        <% @histories.each do |actual_index| %>
            <tr>
              <td id="actual-name-<%= actual_index.id %>">
                  <% user = User.find_by(id: actual_index.user_id) %>
                  <% if !user.blank? %>
                    <%= user.username %>
                  <% else %>
                    Usuario desconocido
                  <% end %>
              </td>
              <td id="actual-desc-<%= actual_index.id %>">
                  <%= actual_index.action %>
              </td>
              <td id="actual-price-<%= actual_index.id %>"><%= actual_index.view %></td>
              <td id="actual-priceA-<%= actual_index.id %>"><%= actual_index.created_at %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>