<%= render 'general/back_modules' %>

<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="btn-group">
        <a href="#" class="btn btn-success" onclick="newHour()">
          <i class="fa fa-plus"></i>
          Registro nuevo horario
        </a>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Horarios disponibles</div>
      <%= render 'general/search' %>
      <table id="table" class="table">
        <thead>
        <tr>
          <th>Hora de entrada</th>
          <th>Hora de salida</th>
        </tr>
        </thead>
        <tbody>
        <% @horarios.each do |hora| %>
            <tr>
              <td id="hora-entrada-<%= hora.id %>"><%= hora.horario_entrada.strftime("%H:%M:%S %p") %></td>
              <td id="hora-salida-<%= hora.id %>"><%= hora.horario_salida.strftime("%H:%M:%S %p") %></td>

              <td>
                <div class="btn-group">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Modificar" onclick="modifyHour('<%= hora.id %>')">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="deleteHour('<%= hora.id %>')">
                    <i class="fa fa-close"></i>
                  </a>
                </div>
              </td>
            </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: 'new' %>
<%= render partial: 'modify' %>