<div class="col-md-4">
  <br>
  <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:error] %>
      </div>
  <% end %>

  <h3>Registro de persona</h3>
  <%= form_for :persona, url: '/employees/create', html: {class: 'form'} do |f| %>
      <div class="form-group">
        <label>Fotografía de perfil</label>
        <%= f.attachment_field :image, :class => "btn btn-file" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.text_field :nombre, :class => "form-control", placeholder: "Nombre" %>
        <%= f.text_field :ap_paterno, :class => "form-control", placeholder: "Apellido paterno" %>
        <%= f.text_field :ap_materno, :class => "form-control", placeholder: "Apellido materno" %>
      </div>
      <%= f.text_field :fecha_nacimiento, :class => "form-control", placeholder: "Fecha de nacimiento" %>
      <br>
      <%= f.text_field :identificacion, :class => "form-control", placeholder: "Identificación" %>
      <br>
      <%= f.text_field :correo, :class => "form-control", placeholder: "Correo electrónico" %>
      <br>
      <%= f.text_field :telefono, :class => "form-control", placeholder: "Teléfono" %>
      <br>
      <%= f.text_field :direccion, :class => "form-control", placeholder: "Dirección" %>
      <br>
      <%= f.select :genero, :class => "form-control" %>
      <br>
      <%= f.text_field :tipo_persona, :class => "form-control", placeholder: "Apellido paterno" %>
      <br>
      <div class="btn-group pull-right">
        <%= f.submit 'Guardar', :class => 'btn btn-success' %>
        <%= link_to 'Cancelar', '/products', class: 'btn btn-info' %>
      </div>
  <% end %>
</div>
