<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="btn-group">
        <a type="button" class="btn btn-success" id="btn-category" onclick="newBatch()">
          <i class="fa fa-plus"></i>
          Agregar categoría
        </a>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Categorías de inventario <a href="/stock/" class="pull-right btn-sm btn-warning ">Volver a stock</a></div>
      <%= render 'general/search' %>
      <table id="table" class="table">
        <thead>
        <tr>
          <th>Lote</th>
          <th>Cantidad</th>
          <th>Cantidad minima</th>
        </tr>
        </thead>
        <tbody>
        <% @lotes.each do |category_index| %>
            <tr class="focus">
              <td id="lote-<%= category_index.id %>">
                <%= category_index.lote %>
              </td>
              <td id="cantidad-<%= category_index.id %>">
                <%= category_index.cantidad_lote %>
              </td>
              <td id="minimo-<%= category_index.id %>">
                <%= category_index.cantidad_minima %>
              </td>
              <td>
                <div class="btn-group">
                  <a href="#" id="btn-modify-<%= category_index.id %>" onclick="modifyBatch('<%= category_index.id %>')">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#" id="btn-delete-<%= category_index.id %>" onclick="deleteBatch('<%= category_index.id %>')">
                    <i class="fa fa-minus-square"></i>
                  </a>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'new' %>
<%= render 'modify' %>