<div class="container">
  <div class="col-md-12 row">
    <div class="container form-color">

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <h3 class="panel-heading">Modificar datos de <%= @animal.nombre %></h3>

      <%= form_for @animal, url: '/animals/modify' do |f| %>
          <div class="form-group">
            <% if !@animal.image.url.present? %>
                <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
            <% else %>
              <%= image_tag @animal.image.url, id:"preview", size: '200x200', class: 'img-thumbnail' %>
            <% end %>
            <%= f.file_field :image, onchange: "readURL(this)" %>
          </div>
          <div class="hide">
            <%= f.text_field :id %>
          </div>
          <div class="input-group group-size-100">
            <%= f.text_field :nombre, :class => "form-control input-control", placeholder: "Nombre", data:{toggle:"tooltip", placement:"top", title:"Nombre"} ,:onkeypress=>"return onlyText(event)" %>
            <%= f.text_field :alto, :class => "form-control input-control", placeholder: "Alto (En CM)", data:{toggle:"tooltip", placement:"top", title:"Alto (En CM)"}, :onkeypress=>"return onlyNumbers(event)" %>
            <%= f.text_field :largo, :class => "form-control input-control", placeholder: "Ancho (En CM)", data:{toggle:"tooltip", placement:"top", title:"Ancho (En CM)"}, :onkeypress=>"return onlyNumbers(event)" %>
            <%= f.text_field :peso, :class => "form-control input-control", placeholder: "Peso (En Kilogramos)", data:{toggle:"tooltip", placement:"top", title:"Peso (En Kilogramos)"}, :onkeypress=>"return onlyNumbers(event)"%>
          </div>
          <br>
          <div class='input-group group-size-80 date' id='datetimepicker'>
            <%= f.text_field :fecha_nacimiento, :class => "form-control", placeholder: "Fecha de nacimiento", data:{toggle:"tooltip", placement:"top", title:"Fecha de nacimiento"} %>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
          </div>
          <br>
          <div class='input-group group-size-80 date' id='datetimepicker'>
            <%= f.text_field :fecha_deceso, :class => "form-control", placeholder: "Fecha de deceso", data:{toggle:"tooltip", placement:"top", title:"Fecha de deceso"} %>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
          </div>
          <br>
          <div class="input-group group-size-100">
            <%= select_tag "especie", options_from_collection_for_select(Especie.all.collect, "id", "nombre_especie"), prompt: "Seleccione especie", class: 'form-control input-control', onchange: "showBreeds()" %>
            <%= f.select :raza_id, {}, {}, {class: 'form-control input-control'} %>

            <%= f.select :cliente_id, {}, {}, class:"form-control input-control" do %>
              <% Persona.where(persona_tipos_id: 1).each do |persona| %>
                <option value='<%= persona.id %>'>
                  <%= "#{persona.nombre} #{persona.ap_paterno} #{persona.ap_materno}" %>
                </option>
              <% end %>
            <% end %>

            <%= f.select :genero_id, options_for_select([["Macho", "1"], ["Hembra", "2"]]), {}, {class: 'form-control input-control'} %>
          </div>

          <div class="btn-group pull-right">
            <%= f.submit 'Guardar', :class => 'btn btn-success' %>
            <%= link_to 'Cancelar', "/animals/info/#{@animal.id}", class: 'btn btn-info' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
