<div class="container">
  <div class="col-md-12 row">
    <div class="container form-color">

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <h3 class="panel-heading">Modificar datos de <%= @animal.nombre %></h3>

      <%= form_for @animal, url: '/animals/modify' do |f| %>
          <div class="col-md-3">
            <div class="form-group">
              <% if @animal.image_uid.blank? %>
                  <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
              <% else %>
                  <% if !@animal.image.url.present? %>
                      <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
                  <% else %>
                      <%= image_tag @animal.image.url, id:"preview", size: '200x200', class: 'img-thumbnail' %>
                  <% end %>
            <% end %>
              <%= f.file_field :image, onchange: "readURL(this)" %>
            </div>
          </div>

          <div class="col-md-9">
            <div class="hide">
              <%= f.text_field :id %>
            </div>
            <%= f.text_field :peso, :class => "form-control input-control-50", placeholder: "Peso (En Kilogramos)", data:{toggle:"tooltip", placement:"top", title:"Peso (En Kilogramos)"}, :onkeypress=>"return onlyNumbers(event)"%>

            <br>
            <div class='input-group group-size-50 date' id='datetimepicker'>
              <%= f.text_field :fecha_deceso, :class => "form-control", placeholder: "Fecha de deceso", data:{toggle:"tooltip", placement:"top", title:"Fecha de deceso"} %>
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
            </div>
            <br>

          </div>

          <div class="btn-group pull-right">
            <%= f.submit 'Guardar', :class => 'btn btn-success' %>
            <%= link_to 'Cancelar', "/animals/info/#{@animal.id}", class: 'btn btn-info' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
