<div class="container">
  <div class="col-md-12 row">
    <br>
    <div class="container">
      <div class="btn-group">
        <button type="button" class="btn btn-success" id="btn-category" onclick="newUser()">
          <i class="fa fa-user-plus"></i>
          Agregar usuario
        </button>
        <button type="button" class="btn btn-success" id="btn-category">
          <i class="fa fa-group"></i>
          Agregar grupo
        </button>
      </div>
    </div>
    <br>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Nómina de usuarios</div>

      <table class="table">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Tipo de usuario</th>
          <th>Grupo</th>
        </tr>
        </thead>
        <tbody>
        <% @user.each do |actual_index| %>
            <tr>
              <td id="actual-identity-<%= actual_index.id %>"><%= actual_index.username %></td>
              <td id="actual-name-<%= actual_index.id %>">
                <%= actual_index.usertype %>
              </td>
              <td id="actual-direction-<%= actual_index.id %>">
                <% if !Group.find_by(id: actual_index.group_id).nil? %>
                    <%= group.group_name %>
                <% else %>
                    Sin grupo
                <% end %>
              </td>
              <td>
                <div class="btn-group">
                  <!--a href="#" onclick="editUser('<%= actual_index.id %>')">
                    <i class="fa fa-edit fa-2x"></i>
                  </a>
                  <a href="#" onclick="deleteUser('<%= actual_index.id %>')">
                    <i class="fa fa-close fa-2x"></i>
                  </a-->
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="new-user-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar nuevo usuario</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Grupo</span>
              <input id="user-username" class="form-control" type="text">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Grupo</span>
              <input id="user-password" class="form-control" type="text">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Grupo</span>
              <input id="user-password-again" class="form-control" type="text">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Grupo</span>
              <select id="user-group-selector">
                <option value="none"></option>
                <% Group.all.each do |index| %>
                    <%= content_tag(:option, index.group_name, value: index.id) %>
                <% end %>
              </select>
              <!--% Group.all.each do |actual_index_group|%-->

              <!--% end %-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-category">Guardar categoría</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->