<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="btn-group">
        <a href="new" class="btn btn-success">
          <i class="fa fa-plus"></i>
          Nuevo registro de inventario
        </a>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Inventario</div>
      <%= render 'general/search' %>
      <table id="table" class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio de compra</th>
          <th>Precio de venta</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <% @asset.each do |actual_index| %>
            <tr class="focus">
              <td id="actual-name-<%= actual_index.id %>"><%= actual_index.asset_name %></td>
              <td id="actual-desc-<%= actual_index.id %>"><%= actual_index.asset_description %></td>
              <td id="actual-price-buy-<%= actual_index.id %>"><%= actual_index.asset_price_buy %></td>
              <td id="actual-price-sell-<%= actual_index.id %>"><%= actual_index.asset_price_sell %></td>

              <td>
                <div class="btn-group">
                  <a href="#" onclick="editAsset('<%= actual_index.id %>')" title="Editar activo fijo">
                    <i class="fa fa-edit fa-2x"></i>
                  </a>
                  <a href="#" onclick="deleteAsset('<%= actual_index.id %>')" title="Eliminar activo fijo">
                    <i class="fa fa-close fa-2x"></i>
                  </a>
                  <a href="#" onclick="showQR('<%= actual_index.id %>')" title="Generar codigo QR">
                    <i class="fa fa-qrcode fa-2x"></i>
                  </a>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= render 'modify' %>
<%= render 'qr_code' %>