<div class="container">
  <div class="col-md-12 row">
    <div class="container">

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:success] %>
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:success] %>
              </div>
          <% end %>
          <% if flash[:error] %>
              <div class="alert alert-error alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Información de Artemisa<a href="/tools" class="pull-right btn-sm btn-warning ">Volver a herramientas</a></div>
        <% if @info.blank? %>
            <h3>Información en blanco, por favor rellene los datos <a href="/info/edit">aquí</a></h3>
        <% else %>
            <form class="panel-body">

              <div class="col-md-3">
                <% if @info.logo_uid.blank? %>
                    <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
                <% else %>
                    <% if !@info.logo.url.present? %>
                        <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
                    <% else %>
                        <%= image_tag @info.logo.url, id:"preview", size: '200x200', class: 'img-thumbnail' %>
                    <% end %>
              <% end %>
                <br>
                <br>
                <a href="/info/edit" class="btn btn-info">Modificar datos de la empresa</a>
                <br>
                <br>
                <% if Information.first.bunker == false %>
                    <a href="#" class="btn btn-warning" onclick="activateBunker()">Activar refugio animal</a>
                <% else %>
                    <a href="#" class="btn btn-success" onclick="activateBunker()">Desactivar refugio animal</a>
                <% end %>
              </div>
              <div class="col-md-9">
                <div class="input-group">
                  <label class="input-group-addon normalize-size">Sistema de ejecución</label>
                  <label class="form-control"><%= RUBY_PLATFORM %></label>
                </div>
                <br>
                <div class="input-group">
                  <label class="input-group-addon normalize-size">Nombre de la empresa</label>
                  <label class="form-control"><%= @info.name %></label>
                </div>
                <br>
                <div class="input-group">
                  <label class="input-group-addon normalize-size">Teléfono de contacto </label>
                  <label class="form-control"><%= @info.phone %></label>
                </div>
                <br>
                <div class="input-group">
                  <label class="input-group-addon normalize-size">Email </label>
                  <label class="form-control"><%= @info.email %></label>
                </div>
                <br>
                <div class="input-group">
                  <label class="input-group-addon normalize-size">Dirección </label>
                  <label class="form-control"><%= @info.address %></label>
                </div>
              </div>
            </form>
      <% end %>
      </div>
    </div>
  </div>
</div>