<div class="container">
  <div class="col-md-12 row">
    <div class="container form-color">

      <div class="container">
        <div class="row col-lg-3 pull-right">
          <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
      </div>

      <h3 class="panel-heading">Modificar datos de <%= @empleado.nombre + " " + @empleado.ap_paterno + " " + @empleado.ap_materno %></h3>

      <%= form_for @empleado, url: '/employees/modify' do |f| %>
          <div class="form-group">
            <%= image_tag 'no_img.jpg', id:"preview", size: '200x200', class: 'img-thumbnail' %>
            <%= f.file_field :image, onchange:"readURL(this)" %>
          </div>
          <div class="input-group group-size-100">
            <div class="hide">
              <%= f.text_field :id, :class => "form-control input-control"%>
            </div>
          </div>
          <br>
          <br>
          <div class="input-group group-size-100">
            <%= f.text_field :correo, :class => "form-control input-control-25", placeholder: "Correo electr?nico", data:{toggle:"tooltip", placement:"top", title:"Correo electronico "}, :onblur=>"return validateEmail(this.value)" %>
            <%= f.text_field :telefono, :class => "form-control input-control-25", placeholder: "Tel?fono", data:{toggle:"tooltip", placement:"top", title:"Telefono"} %>
            <%= f.text_field :direccion, :class => "form-control input-control-25", placeholder: "Direcci?n", data:{toggle:"tooltip", placement:"top", title:"Direccion"} %>
            <%= f.select :persona_tipos_id, PersonaTipo.where.not(id: 1).collect {|p| [ p.tipo, p.id ] }, {}, {class: 'form-control input-control-25'} %>
          </div>

          <div class="btn-group pull-right">
            <%= f.submit 'Guardar', :class => 'btn btn-success' %>
            <%= link_to 'Cancelar', "/employees/info/#{@empleado.id}", class: 'btn btn-info' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
