<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="btn-group">
        <a href="/employees/new" class="btn btn-success">
          <i class="fa fa-plus"></i>
          Registro nuevo empleado
        </a>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Nómina de empleados</div>
      <%= render 'general/search' %>
      <table id="table" class="table">
        <thead>
        <tr>
          <th>Nombre completo</th>
          <th>Sexo</th>
          <th>Cédula de identidad</th>
          <th>Fecha de nacimiento</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Direccion</th>


        </tr>
        </thead>
        <tbody>
        <% @empleados.each do |empleado| %>
          <tr class="focus">
            <td>
              <label><%= empleado.nombre %></label>
              <label><%= empleado.ap_paterno %></label>
              <label><%= empleado.ap_materno %></label>
            </td>
            <td>
              <%= Genero.find_by(id: empleado.genero_id).genero %>
            </td>
            <td><%= empleado.identificacion %></td>
            <td><%= empleado.fecha_nacimiento %></td>
            <td><%= empleado.telefono %></td>
            <td><%= empleado.correo %></td>
            <td><%= empleado.direccion %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>