<!DOCTYPE html>
<html>
<head>
  <title>Artemisa sistema veterinario</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="app-main">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard">
        <i class="fa fa-paw fa-2x"></i>
        Artemisa vet
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown btn-group">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            <%= cookies[:user_name] %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" onclick="config()">
                <i class="fa fa-gear"></i>
                Configuración
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/logout">
                <i class="fa fa-sign-out"></i>
                Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <%= notice %>
    <%= alert %>
    <%= yield %>
</body>

<div id="config-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Configuración general</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <label>Invertir colores (Modo descanso)</label>
                    <input id="checkbox-invert" type="checkbox" name="checkbox" class="" onchange="updateToRest();">
                </div>
                <div class="input-group">
                    <label>Tipografias</label>
                    <select id="selectFontFamily" name="selectFontFamily" onchange="updateFontFamily();">
                        <option> Serif </option>
                        <option> Georgia </option>
                        <option> Sans-Serif </option>
                        <option> Helvetica </option>
                        <option> monospace </option>
                    </select>
                    <input type="number" value="10" id="selecFontSize" onchange="updateFontSize()">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</html>
